@import "tailwindcss";

:root {
  --brand: #32DC32;
  --brand-dark: #27b527;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), system-ui, Arial, sans-serif;
  color: #111;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 68px; /* hauteur exacte du header */
}